 Diberikan data array tangga nada TN dan data array melodi MD yang berisikan urutan notasi lagu yang berjudul ‘Satu Nusa Satu Bangsa’ karangan L. Manik, dengan informasi yang digunakan hanya data nada informasi notasi titik (dotted notes) dikonversikan menjadi angka 0

**Tinggi Nada**
TN = [0, 1, 2, 3, 4, 5, 6, 7]

**Melodi**
MD = [5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 3, 2, 0, 5, 0, 5, 6, 5, 3, 1, 0, 1, 2,<br>
          1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0, 2, 0, 3, 2, 1, 7, 6, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5, 0, 5,<br>
          6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0]

In [2]:
TN = [0, 1, 2, 3, 4, 5, 6, 7]

In [3]:
MD = [5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 3, 2, 0, 5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 
      1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0, 2, 0, 3, 2, 1, 7, 6, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5, 0, 5, 
      6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0]

Untuk menghitung Distribusi Nada, kita membutuhkan variable baru, anggap saja kita beri nama **DN** yang merupakan array dan berisikan 8 elemen karena di dalam Array TN terdapat 8 Tinggi Nada yang sudah dikonversikan. Setiap elemen diberi value 0 integer karena kita akan menghitung ada berapa jumlah nada yang muncul untuk setiap tinggi nadanya pada Array MD.

In [4]:
DN = [0,0,0,0,0,0,0,0]

In [5]:
for i in range(len(TN)):
        for j in range(len(MD)):
            if MD[j] == TN[i]:
                DN[i] += 1

Untuk mencari jumlah Tinggi Nada pada Array **MD** kita perlu melakukan Looping.
<br>Untuk melakukan looping ini, yang pertama kita perlu me-loop Array **TN** terlebih dahulu.<br>
Dengan kode seperti ini :

```
for i in range(len(TN)):
    for j in range(len(MD)):
```
Dari kode tersebut, pada saat array **TN** pada index ke-i melakukan loop, maka akan looping ke array **MD**.<br>Tahapanya dapat dilihat seperti ini :<br>
<br>TN = [**0**,1,2,3,4,5,6,7]
<br>saat loop **TN** berada pada index ke-i (saat ini berada di index ke-0 dengan value 0), akan melakukan looping Array **MD** sejumlah banyaknya elemen pada array **MD**.<br>
MD = **[5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2,<br> 3, 2, 0, 5, 0, 5, 6, 5, 3, 1, 0, 1, 2,
      1, 6, 5, 1, 2, 3, 1, 2,<br> 7, 1, 0, 2, 0, 3, 2, 1, 7, 6, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5,<br> 0, 5, 
      6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0]**
<br>Saat tahap tersebut dilakukan, kita perlu mendefinisikan jika index ke-j pada Array **MD** valuenya sama dengan index ke-i pada Array **TN**, maka index ke-i dari Array **DN** dijumlah 1. Kodenya dapat dilihat seperti berikut :
```
        if MD[j] == TN[i]:
            DN[i] += 1
```
Array **DN** akan menjadi seperti berikut :
<br>DN = [**12**,0,0,0,0,0,0,0]
<br>Jika index ke-i (saat ini berada di index ke-0) array **TN** serta semua elemen dari array **MD** sudah di loop, dan if statement sudah dijalankan, maka akan dilanjutkan ke index ke-i selanjutnya yaitu index ke-1.
<br>Dari penjelasan tersebut, kita lihat tahapan selanjutnya akan seperti ini :<br>
TN[1] = [0, **1**, 2, 3, 4, 5, 6, 7]<br>
MD = [5, 0, 5, 6, 5, 3, **1**, 0, **1**, 2, **1**, 6, 5, **1**, 2, 3, **1**, 2,<br> 3, 2, 0, 5, 0, 5, 6, 5, 3, **1**, 0, **1**, 2,
      **1**, 6, 5, **1**, 2, 3, **1**, 2,<br> 7, **1**, 0, 2, 0, 3, 2, **1**, 7, 6, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5,<br> 0, 5, 
      6, 5, 3, **1**, 0, **1**, 2, **1**, 6, 5, **1**, 2, 3, **1**, 2, 7, **1**, 0]<br>
DN = [12,**18**,0,0,0,0,0,0]
<br><br>
TN[2] = [0, 1, **2**, 3, 4, 5, 6, 7]<br>
MD = [5, 0, 5, 6, 5, 3, 1, 0, 1, **2**, 1, 6, 5, 1, **2**, 3, 1, **2**,<br> 3, **2**, 0, 5, 0, 5, 6, 5, 3, **1**, 0, **1**, **2**,
      1, 6, 5, 1, **2**, 3, 1, **2**,<br> 7, 1, 0, **2**, 0, 3, **2**, 1, 7, 6, 5, 0, 4, 4, 3, 3, 4, 3, **2**, 0, 5,<br> 0, 5, 
      6, 5, 3, 1, 0, 1, **2**, 1, 6, 5, 1, **2**, 3, 1, **2**, 7, 1, 0]<br>
DN = [12,18,**13**,0,0,0,0,0]
<br><br>
TN[3] = [0, 1, 2, **3**, 4, 5, 6, 7]<br>
MD = [5, 0, 5, 6, 5, **3**, 1, 0, 1, 2, 1, 6, 5, 1, 2, **3**, 1, 2,<br> **3**, 2, 0, 5, 0, 5, 6, 5, **3**, 1, 0, 1, 2,
      1, 6, 5, 1, 2, **3**, 1, 2,<br> 7, 1, 0, 2, 0, **3**, 2, 1, 7, 6, 5, 0, 4, 4, **3**, **3**, 4, **3**, 2, 0, 5,<br> 0, 5, 
      6, 5, **3**, 1, 0, 1, 2, 1, 6, 5, 1, 2, **3**, 1, 2, 7, 1, 0]<br>
DN = [12, 18, 13, **11**, 0, 0, 0, 0]
<br><br>
TN[4] = [0, 1, 2, 3, **4**, 5, 6, 7]<br>
MD = [5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2,<br> 3, 2, 0, 5, 0, 5, 6, 5, 3, 1, 0, 1, 2,
      1, 6, 5, 1, 2, 3, 1, 2,<br> 7, 1, 0, 2, 0, 3, 2, 1, 7, 6, 5, 0, **4**, **4**, 3, 3, **4**, 3, 2, 0, 5,<br> 0, 5, 
      6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, 7, 1, 0]<br>
DN = [12, 18, 13, 11, **3**, 0, 0, 0]
<br><br>
TN[5] = [0, 1, 2, 3, 4, **5**, 6, 7]<br>
MD = [**5**, 0, **5**, 6, **5**, 3, 1, 0, 1, 2, 1, 6, **5**, 1, 2, 3, 1, 2,<br> 3, 2, 0, **5**, 0, **5**, 6, **5**, 3, 1, 0, 1, 2,
      1, 6, **5**, 1, 2, 3, 1, 2,<br> 7, 1, 0, 2, 0, 3, 2, 1, 7, 6, **5**, 0, 4, 4, 3, 3, 4, 3, 2, 0, **5**,<br> 0, **5**, 
      6, **5**, 3, 1, 0, 1, 2, 1, 6, **5**, 1, 2, 3, 1, 2, 7, 1, 0]<br>
DN = [12, 18, 13, 11, 3, **13**, 0, 0]
<br><br>
TN[6] = [0, 1, 2, 3, 4, 5, **6**, 7]<br>
MD = [5, 0, 5, **6**, 5, 3, 1, 0, 1, 2, 1, **6**, 5, 1, 2, 3, 1, 2,<br> 3, 2, 0, 5, 0, 5, **6**, 5, 3, 1, 0, 1, 2,
      1, **6**, 5, 1, 2, 3, 1, 2,<br> 7, 1, 0, 2, 0, 3, 2, 1, 7, **6**, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5,<br> 0, 5, 
      **6**, 5, 3, 1, 0, 1, 2, 1, **6**, 5, 1, 2, 3, 1, 2, 7, 1, 0]<br>
DN = [12, 18, 13, 11, 3, 13, **7**, 0]
<br><br>
TN[7] = [0, 1, 2, 3, 4, 5, 6, **7**]<br>
MD = [5, 0, 5, 6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2,<br> 3, 2, 0, 5, 0, 5, 6, 5, 3, 1, 0, 1, 2,
      1, 6, 5, 1, 2, 3, 1, 2,<br> **7**, 1, 0, 2, 0, 3, 2, 1, **7**, 6, 5, 0, 4, 4, 3, 3, 4, 3, 2, 0, 5,<br> 0, 5, 
      6, 5, 3, 1, 0, 1, 2, 1, 6, 5, 1, 2, 3, 1, 2, **7**, 1, 0]<br>
DN = [12, 18, 13, 11, 3, 13, 7, **3**]

In [6]:
DN

[12, 18, 13, 11, 3, 13, 7, 3]